h1{
    background-color: black;
    text-align: left;
    
    }
.my {
    color: white;
}

.cloud{
    color: teal;
}

h2 {
    background-color: blueviolet;
    color: cornsilk;
    text-align: center;
    font-style: italic;
}

h3{
    background-color: lightblue;
    text-align: right;
    text-decoration: underline;
}
